.sidenav {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 10;
}

.sidenav__logo {
  width: 100px;
  padding-top: 10px;
  margin: 25px;
}

.sidenav__logoIcon {
  padding-top: 10px;
  width: 44px;
  margin: 22px 22px 22px 15px;
}

.sidenav__buttons {
  display: flex;
  flex-direction: column;
}

.sidenav__button {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: white;
  background: 0;
  border: 0;
  margin: 5px 10px 5px 10px;
  padding: 10px 15px 10px 15px;
  border-radius: 15px;
  width: 100%;
}

.sidenav__button:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.128);
}

.sidenav__button > span {
  font-size: 18px;
  font-weight: bolder;
  margin-left: 10px;
}

.sidenav__more {
  position: fixed;
  bottom: 5px;
}

.sidenav__buttons.collapsed {
  width: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 10px;
}
.sidenav__buttons.collapsed > .sidenav__button > span,
.sidenav__more.collapsed > .sidenav__more > span {
  display: none;
}

.sidenav__button.search-selected,
.sidenav__button.messages-selected {
  border: 1px solid #ffffff; /* collapsed일 때 또는 SearchIcon이 클릭된 상태일 때는 흰색 실선 테두리로 변경 */
}

.sidenav__more.collapsed {
  width: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 0 10px; /* top right bottom left */
}
.sidenav__more.collapsed > .sidenav__button > span {
  display: none;
}
